PORT=8080
ADDRESS=localhost
PROTOCOL=http

DEBUG=TRUE
LOGS_LEVEL=silly
NODE_ENV=development

API_ENDPOINT=/api
API_VERSION=/v1
API_APP=Api GPI
API_KEY=GPI_S2_2020
API_SECRET=MAGNA

DBCONTROLLER_ENDPOINT=/dbcontroller
DBCONTROLLER_VERSION=/v1
DBCONTROLLER_APP=DB controller
DBCONTROLLER_KEY=MAGNA2
DBCONTROLLER_TEMP_DIR=src/tempUploads/

SITE_ENDPOINT=/
SITE_PUBLIC_DIR=src/public/

DB_PORT=3306
DB_ADDRESS=192.168.0.18
DB_LIMIT=20
DB_USER=daniel2
DB_PASS=123456789
DB_NAME=GPIPI
